version: 2
jobs:
  build:
    parallelism: 3
    working_directory: ~/expense-tracker
    docker:
      - image: circleci/ruby:2.5.1-stretch-node-browsers
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          PGHOST: 127.0.0.1
          RAILS_ENV: test
      - image: circleci/postgres:9.6.9-alpine-postgis-ram
        environment:
          POSTGRES_USER: expense_tracker
          POSTGRES_DB: expense_tracker_test
          POSTGRES_PASSWORD: expense_tracker_password
    steps:
      - checkout
      - run:
          name: Which bundler?
          command: bundle -v
      - restore_cache:
          keys:
            - expense-tracker-v1-{{ checksum "Gemfile.lock" }}
            - expense-tracker-v1-
      - run:
          name: Bundle Install
          command: bundle check || bundle install
      - save_cache:
          key: expense-tracker-v1-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Database setup
          command: bin/rails db:schema:load --trace
      - run:
          name: Run rspec in parallel
          command: |
            bundle exec rspec --profile 10 \
                              --format RspecJunitFormatter \
                              --out test_results/rspec.xml \
                              --format progress \
                              $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
  deploy-circleci:
    docker:
      - image: buildpack-deps:trusty
    steps:
      - checkout
      - run:
          name: Deploy Master to Heroku
          command: |
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git master

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy-circleci:
          requires:
            - build
          filters:
            branches:
              only: master