<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bandung Bermartabat</title>

  <link href="starter.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Expense Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Tracking</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <% if user_signed_in? %>
            <%= link_to('Sign out', destroy_user_session_path, method: :delete, :class => "btn btn-danger my-2 my-sm-0") %>
        <% else %>
            <%= link_to('Sign in', new_user_session_path, method: :get, :class => "btn btn-light my-2 my-sm-0") %>
        <% end %>
      </form>
    </div>
  </div>
</nav>

<main role="main" class="container">
  <div class="starter-template">
    <h1>SEA Compfest X x GO-JEK</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
      mostly barebones HTML document.</p>
    <p class="lead"><span style="color: #FF0000;">Tulisan baru nih guys...!</span></p>
  </div>

</main><!-- /.container -->

</body>
</html>
