<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Expense Tracker</title>

  <link href="starter.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Expense Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Tracking</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "btn btn-danger my-2 my-sm-0") %>
        <% else %>
            <%= link_to('Login', new_user_session_path, method: :get, :class => "btn btn-light my-2 my-sm-0") %>
        <% end %>
      </form>
    </div>
  </div>
</nav>

<main role="main" class="container">
  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    
  </div>
  <div style="text-align:center;">
  <ul style="display:table; margin:0 auto;">
  <li>Miftahun</li>
  <li>Aditya</li>
  <li>Gian</li>
  <li>Mamat</li>
</ul>
  </div>
  

</main><!-- /.container -->

</body>
</html>
